<div class="header">
    <h4 class="head">Angular Material Controls</h4>
    <a [routerLink]="['/material']">Home</a>
    <a [routerLink]="['/material/button']">Button</a>
    <a [routerLink]="['/material/dropdown']">Dropdown</a>
    <a [routerLink]="['/material/dateinputs']">Date Inputs</a>
    <a [routerLink]="['/material/textbox']">Textbox</a>
    <a [routerLink]="['/material/icon']">Icons</a>
    <a [routerLink]="['/material/progressbar']">Progressbar</a>
    <a [routerLink]="['/material/paginator']">Paginator</a>
    <a [routerLink]="['/material/dialogs']">Dialogs</a>
    
</div>
