<!-- 
<div class="main">
  
  
  <div id="container">
    <div id="left"> <app-materialheader ></app-materialheader> </div>
    <div id="right"><h1>Material Controls</h1><router-outlet></router-outlet></div>
  </div>
 
  
  </div> -->


  <mat-sidenav-container>
    <mat-sidenav mode="side" opened #sidenav>
      <mat-nav-list appNavListKeyManager>
      
        <a *ngFor="let item of navItems; index as i"
          mat-list-item
          appListItemFocusable
          [routerLink]="[item.route]"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          #rla="routerLinkActive"
          [activated]="rla.isActive" (click)="handleClick(i)"
        >
          <span matListItemTitle>{{ item.title }}</span>
          <!-- <mat-icon matListItemIcon>{{ item.icon }}</mat-icon> -->
        </a>
        
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- <h1>Material Controls</h1> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
  
  


