<link rel="stylesheet" href="https://unpkg.com/@progress/kendo-font-icons/dist/index.css"/>
<h2 class="mainhead">Kendo Controls</h2>
<div class="container mb-5">
    <div class="row mx-0">
        <div class="col-12 flex my-2">
            <div class="flex-grow-1">
                <div>
                    <h4>Toggle</h4>
                    <div class="d-flex my-2 ">
                        <kendo-switch class="toggle-blue mx-2" size="small"></kendo-switch>
                        <kendo-switch class="toggle-blue mx-2" size="small" [(ngModel)]="checked"></kendo-switch>
                    </div>
                    <div class="d-flex my-2">
                        <kendo-switch class="toggle-green mx-2" size="small"></kendo-switch>
                        <kendo-switch class="toggle-green mx-2" size="small" [(ngModel)]="checked"></kendo-switch>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-2">
        <div class="col-12 flex my-2">
            <div class="flex-grow-1">
                <h4>Radio Button</h4>
                <div>
                    <input kendoRadioButton type="radio" id="r1" name="rg1" class="radio-blue" checked />
                    <label class="k-radio-label" for="r1">Selected</label><br />
                    <input kendoRadioButton type="radio" id="r2" name="rg1" class="radio-blue" />
                    <label class="k-radio-label" for="r2">Unselected</label><br />
                </div>
                
                <div>
                    <input kendoRadioButton type="radio" id="ra1" name="rg2" class="radio-blue" checked disabled/>
                    <label class="k-radio-label" for="ra1">Disable Selected</label><br>
                    <input kendoRadioButton type="radio" id="ra2" name="rg2" class="radio-blue" disabled/>
                    <label class="k-radio-label" for="ra2">Disable Unselected</label>
                </div>
            </div>
        </div>
        <hr class="mt-2">
        <div class="col-12 flex my-2">
            <div class="flex-grow-1">
                <h4>Checkbox</h4>
                <div>
                    <input kendoCheckBox type="checkbox" id="c1" class="checkbox-blue" checked />
                    <label class="k-checkbox-label" for="c1">Selected</label><br />
                    <input kendoCheckBox type="checkbox" id="c2" class="checkbox-blue" />
                    <label class="k-checkbox-label" for="c2">Unselected</label><br />
                </div>
                
                <div>
                    <input kendoCheckBox type="checkbox" id="cb1" class="checkbox-blue" checked disabled/>
                    <label class="k-checkbox-label" for="cb1">Disable Selected</label><br>
                    <input kendoCheckBox type="checkbox" id="cb2" class="checkbox-blue" disabled/>
                    <label class="k-checkbox-label" for="cb2">Disable Unselected</label>
                </div>
                
            </div>
        </div>
        <hr class="mt-2">
        <div class="col-12 flex my-2">
            <div class="flex-grow-1">
                <h4>Progress Slider</h4>
                <kendo-progressbar [value]="value" [label]="labelhide" class="green-progressbar"></kendo-progressbar>
                <span>Progress: {{value}}%</span>

                <div class="my-2">
                    <kendo-progressbar [value]="45" [label]="labelhide" class="green-progressbar"></kendo-progressbar>
                </div>
            </div>
        </div>
        <hr class="mt-2">
        <div class="col-12 flex my-2">
            <div class="flex-grow-1">
                <h4>Badges</h4>
                <div>
                    <span class="k-icon k-font-icon"><kendo-badge rounded="medium" size="large" class="Badges-gray" themeColor="inverse" [align]="{ vertical: 'center', horizontal: 'end' }">Value <span class="k-icon k-font-icon k-i-x "></span></kendo-badge></span>
                    <span class="k-icon k-font-icon mx-5"><kendo-badge rounded="medium" size="large" class="Badges-red" themeColor="inverse" [align]="{ vertical: 'center', horizontal: 'end' }">Value <span class="k-icon k-font-icon k-i-x "></span></kendo-badge></span>
                    <span class="k-icon k-font-icon"><kendo-badge rounded="medium" size="large" class="Badges-green" themeColor="inverse" [align]="{ vertical: 'center', horizontal: 'end' }">Value <span class="k-icon k-font-icon k-i-x "></span></kendo-badge></span>
                  </div>
            </div>
        </div>
    </div>
</div>