.mainhead
{
    font-size: 20px;
    font-weight:600;
    color: black;
    text-align: center;
}
.example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#myGrid {
    flex: 1 1 0px;
    width: 100%;
}