/* .video-js {
  width: 100%;
  height: auto;
}

.theater-mode {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
} */

.theater-mode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  /* Full width in theater mode */
  height: 400px; /* Fixed height in theater mode */
    z-index: 1000; /* Ensure it's on top */
    /* background: black; Optional: Add a background */
  
}
.video-js .vjs-tech {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 600px;
  height: 400px; */
  /* object-fit: cover; */
}
.video-js {
  width: 100%;
  height: 100%;
  /* object-fit: cover;  */
  max-width: none !important; 
}
.video-container {
  position: relative;
  width: 1000px; /* Initial width */
  height: auto; /* Initial height */
}
/* .video-container {
  position: relative;
    width: 100%;
    height: 56.25vw;
    max-height: calc(100vh - 250px);
    min-height: 480px;
    background: #000;
} */