.dashboard {
    background-color: #F1F2F3;
    min-height: 100vh !important;
    position: relative;
    z-index: 1;
    margin-left: 0px;
}

.sidenav {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 2;
}

  .mat-grid-tile
  {
    display: block !important;
  }
  .mat-sidenav-container .mat-sidenav {
    background-color: #ffffff!important;
    padding: 10px !important;
    min-width: 90px !important;
    justify-content: center;
    margin: 0px auto !important;
  }

  .mat-mdc-list-base {
    text-align: center;
  }

  .mat-mdc-list-base.mat-mdc-list-base .mdc-list-item--activated .mdc-list-item__primary-text {
    padding: 10px auto !important;
}

  .nav-icons{
    margin: 0px auto !important;
    width: 30px;
    height: 30px;
  }
  .my-4 {
 
    margin: 0px 10px 10px 0px !important;
  }
  .mat-drawer-content
  {
    background: #FFFFFF;
  }
  

  /* @media screen and (min-width> 800px){ */
@media screen and (width > 800px) {
    .header-bar{
        background-color: #ffffff;
        justify-content: space-between;
        align-items: center;
        padding: 2px 10px 10px 9px;
    }

    .mobile-headerbar {
        display: none;
    }
    .mobilesidenav {
        display: none;
    }
}
/* @media screen and (min-width< 800px){ */
@media screen and (width < 800px) {
    .header-bar{
        display: none;
    }

    .mobile-headerbar {
        background-color: #F1F2F3;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .disktopsidenav {
        display: none;
    }
    .pageHead
    {
      display:none;
    }
    .depwebsection
    {
      display: none;
    }
}


.box-card {
    position: relative;
    left: 0;
    color: #000;
    margin: 4px;
    border-left: 5px solid #000080;
    transition: 0.5s;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
  }

.box-card-title {
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    font-family: roboto;
}

.box-card-value {
    font-size: 33px;
    font-weight: bold;
    color: #444444;
    font-family: roboto;
}

.purple-box {
    background-color: #EFEFFE;
    border-radius: 5px;
    margin: 20px auto;
}

.purple-box-title {
    color: #000080;
    font-size: 16px;
    font-weight: 600;
    font-family: roboto;
}

.purple-box-date {
    background-color: #CCCCDF;
    padding: 5px;
    border-radius: 5px;
}

.purple-box-text{
    font-size: 16px;
    color: #444444;
    font-family: roboto;
}

.vertical-line {
    position: absolute;
    top: 2;
    bottom: 10px;
    left: 4.5%; /* Center the line horizontally */
    width: 1px; /* Width of the line */
    background-color: #000080; /* Color of the line */
    content: ''; /* Needed for ::before pseudo-element */
  }
  .k-breadcrumb
  {
    color: #186CAA !important;
  }
  .k-breadcrumb-link {
    color: #444444 !important;
  }
  .k-breadcrumb-md {
    font-size: 12px ;
    line-height: 16px;
  }
  .pageHead
  {
    background-color: #FFFFFF;
    width: 100%;
  }
  .pageHead label
  {
    font-size: 24px;
    padding: 15px 0px 0px 14px;
  }
  .align-items-start {
    margin: 3px 0px 0px 10px;
  }
  .flex-grow-1
  img{
    padding: 5px;
  }
  /* .k-grid .k-grid-container {
  
    width: 90% !important;
  } */
  .section-head-main
  {
    width: 100%;
  }
  .section-head
  {
    width: 25%;
    border-right: 2px solid #D6D6D6;
    padding: 5px 10px 10px 30px;
  }
  .section-head-large
  {
    width: 45%;
    border-right: 2px solid #D6D6D6;
    padding: 5px 10px 10px 30px;
  }
  .section-head label
  {
    margin-bottom: 4px;
  }
  .section-head-large label
  {
    margin-bottom: 4px;
  }
  .k-switch-sm {
   
    margin: 5px;
  }
  .k-switch-on .k-switch-track {
    border-color: #098753;
    color: white;
    background-color: #098753;
  }
  .glarge k-grid-container
  {
    width: 100% !important;
  }
  .xgrid
  {
    height: 300px;
    margin-left: 25px !important;
    margin-top: 25px !important;
 
  }
  .xgrid.k-grid-container {
      width: 100% !important;
  }
  .table2head
  {
    text-align: end !important;
    margin-top: 10px;
    border: 1px solid lightgray;
    padding: 4px;
  }
  .seahead
  {
    display: flex;
  }
  .bgsvgdown
  {
    margin-top: 4px;
    margin-left: 3px;
  }
  .mobile-headerbar
  {
    background-color: #ffffff;
  }
  .xgridmobile
  {
    margin-left: 15px !important;
    margin-top: 25px !important;
  }
  .labeldiv
  {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 16px;
}
.k-expander-title {
  color: #444444;
  font-size: 14px;
  text-transform: capitalize;
}


/* Expansion css */

.collapsible {
  overflow: hidden;
}

section {
  

  font-size: 14px;
  /* box-sizing: border-box; */
}

section.collapsible {
  /* color: white;
  background-color: coral; */
}

p {
    margin: 0;
    padding: 15px;
}

aside {
    /* position: absolute;
    top: 8px;
    right: 8px; */
    margin: auto;
    width: 0%;
}
aside img
{
  margin-top: -10px;
}
.clsclose
{
  margin-top: -10px;
}

button {
  font-size: 16px;
  border: none;
  background: #2196F3;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}



/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 5px 10px 0px 6px;
  /* height: 300px; Should be removed. Only for demonstration */
}
.main
{
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 5px;
}
.mainhead
{
  margin-bottom: 5px;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */
.fnlicon
{
  padding: 4px;
  margin-top: 2px;
  border: 1px solid lightgray;
}
