<mat-sidenav-container class="dashboard" >
    
    <mat-sidenav class="disktopsidenav" mode="side" opened *ngIf="screenWidth > 800" >
      <mat-nav-list appNavListKeyManager>
      
        <a *ngFor="let item of navItems; index as i"
          mat-list-item
          appListItemFocusable
          [routerLink]="[item.route]"
          routerLinkActive
          [routerLinkActiveOptions]="{ exact: true }"
          #rla="routerLinkActive"
          [activated]="rla.isActive" (click)="handleClick(i)"
          style="margin: 5px 0px;"
        >
          <img [src]="item.imageUrl" alt="{{ item.title }} Icon" class="nav-icons">
        </a>
        
        
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav class="mobilesidenav " mode="side" [opened]="sidebarOpen" *ngIf="screenWidth < 800">
        <mat-nav-list appNavListKeyManager>
            <a *ngFor="let item of mobilenavItems; index as i"
              mat-list-item
              appListItemFocusable
              [routerLink]="[item.route]"
              routerLinkActive
              [routerLinkActiveOptions]="{ exact: true }"
              #rla="routerLinkActive"
              [activated]="rla.isActive" 
              (click)="handleClick(i)"
              style="margin: 5px 0px; text-align: start; display: flex; justify-content: left; align-items: center; border-bottom: 2px solid #F1F2F3;">
              <div class="d-flex justify-content-between align-items-center">
                <div class="me-4">
                    <img [src]="item.imageUrl" alt="{{ item.title }} Icon" class="nav-icons me-2" >
                    <span class="ms-2">{{ item.title }}</span>
                </div>
                <i class="bi bi-chevron-right"></i>
              </div>
            </a>
          </mat-nav-list>
      </mat-sidenav>
      

    <mat-sidenav-content [style.margin-left.px]="(screenWidth < 800) ? 0 : 90">
        <div class="pageHead"> 
        <label >Departments</label>
    </div>
      <header class="header-bar d-lg-flex">  
     
        <div class="d-flex">
          
              <kendo-breadcrumb
                [items]="items"
                (itemClick)="onItemClick($event)"
              ></kendo-breadcrumb>
        </div>
       
        
      </header>

      <header class="mobile-headerbar">
        <div class="row">
        
          <div class="d-flex justify-content-center align-items-center mainhead">
            <div class="flex-grow-1">
               <label class="seahead">Seafarer    <kendo-svg-icon class="bgsvgdown" [icon]="chevrodownIcon" ></kendo-svg-icon></label>
            
            </div>
          
            <div class="flex-grow-1" style="text-align: end;">
              <kendo-switch [style.transform]="'scale(0.7, 0.6)'" [(ngModel)]="checked" size="small"></kendo-switch>
              <kendo-label text="Active" style="    font-size: 13px;
              margin-left: -8px;">
              
              </kendo-label>
              <i class="bi bi-funnel mx-2 fnlicon" style="font-size: 20px;float: right;"></i>
            </div>
           
          </div>

          <div class="">
          <div class="flex-grow-1">
            <!-- <kendo-expansionpanel
            title="Code: MBDKAM"
            subtitle="Name: Marketing, Business..."
            [expanded]="false"
            (action)="onAction(0)"
          >
            <div class="content">
              
              <div class="flex-grow-1 d-flex  labeldiv">
                <label style="font-size: 14px;width:100%">Code: MBDKAM</label>
                <label style="font-size: 14px;">Name: Marketing, Business, Development and Sales</label>
             </div>
             <div class="flex-grow-1 d-flex  labeldiv">
              <label style="font-size: 14px;width:100%">Modified User: Admin</label>
              <label style="font-size: 14px;">Modified Date: 09 Feb 2024</label>
           </div>
            </div>
          </kendo-expansionpanel> -->

          <div class="main">
            <section *ngIf="collapsed">

              <div class="row">
                <div class="column" >
                  <label style="font-size: 14px;white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;">Code: MBDKAM</label>
                </div>
                <div class="column" >
                  <label style="font-size: 14px;white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;">Name: Marketing, Bus...</label>
                </div>
              </div>
              <div class="row">
                <div class="column" >
                  <label style="font-size: 14px;white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;">Modified User: Admin</label>
                </div>
                <div class="column" >
                  <label style="font-size: 14px;white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;">Modified Date: 09 Feb 2024</label>
                </div>
              </div>


             
            </section>
            <section class="collapsible" [@collapse]="collapsed">

              <div class="row">
                <div class="column" >
                  <div class="flex-grow-1 d-flex  labeldiv">
                    <label style="font-size: 14px;">Code: MBDKAM</label>
                  
                 </div>
                </div>
                <div class="column" >
                  <label >Name: Marketing, Business, Development and Sales</label>
                </div>
              </div>
              <div class="row">
                <div class="column" >
                  <label >Modified User: Admin</label>
                </div>
                <div class="column" >
                  <label >Modified Date: 09 Feb 2024</label>
                </div>
              </div>






            
            </section>
           
          </div>
          
          <aside>
            <img class="clsopen" *ngIf="collapsed" (click)="expand()" src="../../../assets/Icons/open.svg" alt="mobile-icon-ship" style="padding: 0px !important;    margin-left: -16px;">
            <img class="clsclose" *ngIf="!collapsed" (click)="collapse()"  src="../../../assets/Icons/close.svg" alt="mobile-icon-ship" style="padding: 0px !important;    margin-left: -16px;">
            <!-- <kendo-svg-icon *ngIf="collapsed" (click)="expand()" class="bgsvgdown" [icon]="chevrodownIcon" ></kendo-svg-icon>
            <kendo-svg-icon *ngIf="!collapsed" (click)="collapse()" class="bgsvgdown" [icon]="chevrodownIcon" ></kendo-svg-icon> -->
              <!-- <button *ngIf="collapsed" (click)="expand()">Expand</button>
              <button *ngIf="!collapsed" (click)="collapse()">Collapse</button> -->
          </aside>
      
          </div>
          </div>

          <div class="d-flex justify-content-center align-items-center">
            <div class="flex-grow-1 d-flex justify-content-center align-items-center">
              <input type="text" class="form-control form-control-sm mx-2 my-1" placeholder="Search" >
         
              <img src="../../../assets/Icons/dep3.png" alt="mobile-icon-ship">
             
              <img src="../../../assets/Icons/dep1.png" alt="mobile-icon-ship">
              <img src="../../../assets/Icons/dep2.png" alt="mobile-icon-ship">
          </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <div class="flex-grow-1 d-flex  labeldiv">
               <label style="font-size: 16px;">Departments</label>
            </div>
              </div>

            <kendo-grid class="xgrid xgridmobile"
                            [data]="gridData"
                            [selectable]="{ mode: 'multiple', drag: true }"
                            [navigable]="true"
                            [height]="300" filterable="menu" [sortable]="sortSettings"
                            [sort]="sort"
                          >
                            <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>
                            <kendo-grid-column
                              field="ProductName"
                              title="Product Name"
                            ></kendo-grid-column>
                            <kendo-grid-column
                              field="UnitsInStock"
                              title="Units In Stock"
                            ></kendo-grid-column>
                           
                           
                          </kendo-grid>
           
        </div>


      

       
      </header>
      <!-- Body section -->
      <div class="my-4 depwebsection">
        <div class="row my-4">

            <div class="col-xl-12 col-lg-12 d-flex my-2">
                <div class="card flex-grow-1 d-flex align-items-start" style="flex-flow: row; justify-content: space-evenly;">
                    
                        
                    <div class="col-xl-4 col-lg-6 d-flex my-2 ">
                        <div class="card flex-grow-1 d-flex align-items-start" style="flex-flow: column; justify-content: space-evenly;">
                            <div class="card-body w-100">
                                <div class="d-flex justify-content-between">
                                    <h2 class="card-title">Departments</h2>
                                   
                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="flex-grow-1">
                                       <label>Lorem Ipsum </label>
                                    </div>
                                    <div class="flex-grow-1 d-flex justify-content-center align-items-center">
                                        <input type="text" class="form-control form-control-sm mx-2 my-1" placeholder="Search" >
                                    </div>
                                    <div class="flex-grow-1">
                                        <img src="../../../assets/Icons/dep3.png" alt="mobile-icon-ship">
                                       
                                        <img src="../../../assets/Icons/dep1.png" alt="mobile-icon-ship">
                                        <img src="../../../assets/Icons/dep2.png" alt="mobile-icon-ship">
                                    </div>
                                  </div>
                            </div>
                            <kendo-grid class="glarge" [data]="gridData" style="height: 400px;">
                                <kendo-grid-column field="Name" title="Lorem Ipsum" >
                                </kendo-grid-column>
                              
                               
                           
                               
                              </kendo-grid>
                            </div>
                        </div>

                        <div class="col-xl-8 col-lg-6 d-flex my-2">
                            <div class="row section-head-main">
                            <div class="card flex-grow-1 d-flex align-items-start" style="flex-flow: row; justify-content: space-evenly;border:none;">
                               <div class="section-head">
                                      <div class="flex-grow-1 d-flex align-items-start" style="flex-flow: column; justify-content: space-evenly;border:none;">
                                        <label >Code: <b>MBDKAM</b> </label>
                                        <label>Modified User: <b>Admin</b></label>
                                       
                                    </div>                       
                               </div>
                               <div class="section-head-large">
                                <div class="flex-grow-1 d-flex align-items-start" style="flex-flow: column; justify-content: space-evenly;border:none;">
                                    <label >Name: <b>Marketing, Business Development and ....</b> </label>
                                    <label>Modified Date: <b>09 Feb 2017</b></label>
                                   
                                </div>                       
                           </div>
                               

                               
                               <div class="section-head">
                                <div class="flex-grow-1 d-flex align-items-start" style="flex-flow: column; justify-content: space-evenly;border:none;">
                                   

                                      <kendo-label text="Active">
                                        <kendo-switch [(ngModel)]="checked" size="small" [style.transform]="'scale(0.7, 0.6)'"></kendo-switch>
                                      </kendo-label>
                                </div> 
                               </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center table2head">
                              
                              <div class="flex-grow-1 d-flex justify-content-center align-items-center">
                            
                              </div>
                              <div class="flex-grow-1">
                                <input type="text" class="form-control form-control-sm mx-2 my-1" style="    width: 45%;
                                display: inline;" placeholder="Search" >
                                  <img src="../../../assets/Icons/dep3.png" alt="mobile-icon-ship">
                                 
                                  <img src="../../../assets/Icons/dep1.png" alt="mobile-icon-ship">
                                  <img src="../../../assets/Icons/dep2.png" alt="mobile-icon-ship">
                              </div>
                            </div>

                            <kendo-grid class="xgrid"
                            [data]="gridData"
                            [selectable]="{ mode: 'multiple', drag: true }"
                            [navigable]="true"
                            [height]="300"
                          >
                            <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>
                            <kendo-grid-column
                              field="ProductName"
                              title="Product Name"
                            ></kendo-grid-column>
                            <kendo-grid-column
                              field="UnitsInStock"
                              title="Units In Stock"
                            ></kendo-grid-column>
                            <kendo-grid-column
                              field="UnitsOnOrder"
                              title="Units On Order"
                            ></kendo-grid-column>
                            <kendo-grid-column
                              field="ReorderLevel"
                              title="Reorder Level"
                            ></kendo-grid-column>
                          </kendo-grid>
                                </div>
                            </div>




                    </div>
                </div>

          

          
        </div>

        

      
      </div>
    
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>