<link rel="stylesheet" href="https://unpkg.com/@progress/kendo-font-icons/dist/index.css"/>
<h2 class="mainhead">Badges</h2>
<div class="container mb-5">
                <div class="mx-5">
                    <span class="k-icon k-font-icon"><kendo-badge rounded="medium" size="large" class="Badges-gray" themeColor="inverse" [align]="{ vertical: 'center', horizontal: 'end' }">Value <span class="k-icon k-font-icon k-i-x "></span></kendo-badge></span>
                    <span class="k-icon k-font-icon mx-5"><kendo-badge rounded="medium" size="large" class="Badges-red" themeColor="inverse" [align]="{ vertical: 'center', horizontal: 'end' }">Value <span class="k-icon k-font-icon k-i-x "></span></kendo-badge></span>
                    <span class="k-icon k-font-icon"><kendo-badge rounded="medium" size="large" class="Badges-green" themeColor="inverse" [align]="{ vertical: 'center', horizontal: 'end' }">Value <span class="k-icon k-font-icon k-i-x "></span></kendo-badge></span>
                  </div>
</div>