.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  
    input[type="file"] {
      margin-bottom: 20px;
    }
  }
  
  .frame {
    width: 400px;
    height: 400px;
    background-image: url('/assets/frame1.png'); /* Path to your frame image */
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 2; /* Brings the frame to the front */
    display: block;
    align-items: center;
    justify-content: center;
  }
  
  .image-container {
    /* width: 80%; 
    height: 80%; */
    width: 60%; 
    height: 60%;
    position: absolute;
    /* top: 10%; 
    left: 10%; */
    top: 20%; /* Center the image within the frame */
    left: 20%;
    display: block;
    z-index: 1; /* Keeps the image behind the frame */
    align-items: center;
    justify-content: center;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; /* Optional: If the frame is circular */
  }
  