.wrapper,
.icon-wrapper,
.svg-icon-wrapper {
  display: flex;
}

.icon-wrapper,
.svg-icon-wrapper {
  flex-direction: column;
  min-width: 80px;
  align-items: center;
}
.mainhead
{
    font-size: 20px;
    font-weight:600;
    color: black;
    text-align: center;
}