
<mat-grid-list cols="1" rows="1" rowHeight="2:1">
    <mat-grid-tile>
        <!-- <mat-card class="flex-me"></mat-card> -->
        <mat-card class="flex-me">
            <kendo-grid [data]="gridData" >
                <kendo-grid-column media="(max-width: 1000px)" title="Items" [headerClass]="'headerCustomClass'"  [headerStyle]="{ 'background-color': '#F2F4F7','height':'48px','color':'#444444' }">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <!-- template for mobile -->
                      <h4 >
                        {{ dataItem.Name }}
                      </h4>
                      <dl>
                        <dt>No. Survey Scheuled</dt>
                        <dd>{{ dataItem.NoSurveyScheuled }}</dd>
            
                        <dt>Expired</dt>
                        <dd>{{ dataItem.Expired }}</dd>
            
                        <dt>In 30 days</dt>
                        <dd>{{ dataItem.In30days }}</dd>
            
                        <dt>In 31-60 days</dt>
                        <dd>{{ dataItem.In31to60days }}</dd>
            
                        <dt>In 61-90 days</dt>
                        <dd>{{ dataItem.In61to90days }}</dd>
            
                        <dt>Commenced</dt>
                        <dd>{{ dataItem.Commenced }}</dd>
            
                        <dt>Null Certificate</dt>
                        <dd>{{ dataItem.NullCertificate }}</dd>
                      </dl>
                    </ng-template>
                  </kendo-grid-column>


                <kendo-grid-column  media="(min-width: 1000px)" field="Name" title="" [headerClass]="'headerCustomClass'" class="aln"  [class]="'cellCustomClass'" [width]="210"   [headerStyle]="{ 'background-color': '#F2F4F7','height':'48px','color':'#444444' }" > </kendo-grid-column>
                <kendo-grid-column  media="(min-width: 1000px)" field="NoSurveyScheuled" title="No. Survey Scheuled" [headerClass]="'headerCustomClass'"  [class]="'cellCustomClass1'"
                [headerStyle]="">

            </kendo-grid-column>
                <kendo-grid-column  media="(min-width: 1000px)" field="Expired" title="Expired" [headerClass]="'headerCustomClass'" [class]="'cellCustomClass1'"> </kendo-grid-column>
                <kendo-grid-column  media="(min-width: 1000px)" field="In30days" title="In 30 days" [headerClass]="'headerCustomClass'" [class]="'cellCustomClass1'">
                </kendo-grid-column>
                <kendo-grid-column  media="(min-width: 1000px)" field="In31to60days" title="In 31-60 days" [headerClass]="'headerCustomClass'" [class]="'cellCustomClass1'"> </kendo-grid-column>
                <kendo-grid-column  media="(min-width: 1000px)" field="In61to90days" title="In 61-90 days" [headerClass]="'headerCustomClass'" [class]="'cellCustomClass1'"> </kendo-grid-column>
                <kendo-grid-column  media="(min-width: 1000px)" field="Commenced" title="Commenced" [headerClass]="'headerCustomClass'" [class]="'cellCustomClass1'"> </kendo-grid-column>
                <kendo-grid-column  media="(min-width: 1000px)" field="NullCertificate" title="Null Certificate" [headerClass]="'headerCustomClass'" [class]="'cellCustomClass1'"> </kendo-grid-column>
              
              </kendo-grid>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>





<!-- Responsive -->
<mat-grid-list cols="1" rows="1">
  <mat-grid-tile>
      <mat-card class="flex-me">
        <kendo-grid [data]="gridData" [style.height.%]="100">
          <kendo-grid-column field="Name" title="" [width]="250">
          </kendo-grid-column>
          <kendo-grid-column field="NoSurveyScheuled" title="No. Survey Scheuled" [width]="80">
          </kendo-grid-column>
          <kendo-grid-column field="Expired" title="Expired" [width]="80">
          </kendo-grid-column>
          <kendo-grid-column field="In30days" title="In 30 days" [width]="80">
          </kendo-grid-column>
          <kendo-grid-column field="In31to60days" title="In 31-60 days" [width]="80">
          </kendo-grid-column>
          <kendo-grid-column field="In61to90days" title="In 61-90 days" [width]="80">
          </kendo-grid-column>
          <kendo-grid-column field="Commenced" title="Commenced" [width]="80">
          </kendo-grid-column>
          <kendo-grid-column field="NullCertificate" title="Null Certificate" [width]="80">
          </kendo-grid-column>
        </kendo-grid>
        </mat-card>
        </mat-grid-tile>
        </mat-grid-list>



<!-- <mat-grid-list cols="1" rows="1" rowHeight="500px">
    <mat-grid-tile>
        <mat-card class="flex-me">
            <kendo-grid [kendoGridBinding]="view | async"  [loading]="loading" [pageable]="true" [pageSize]="5">
                <kendo-grid-column  [headerStyle]="{ 'background-color': '#F2F4F7', 'padding':'20px 10px', 'font-weight' : 'bold','text-wrap' : 'nowrap' }"
                  field="athlete" title="title"> </kendo-grid-column>
                <kendo-grid-column [headerStyle]="{ 'background-color': '#F2F4F7', 'padding':'20px 10px', 'font-weight' : 'bold' }"
                field="age" title="No. Survey Scheduled">
                </kendo-grid-column>
                <kendo-grid-column [headerStyle]="{ 'background-color': '#F2F4F7', 'padding':'20px 10px', 'font-weight' : 'bold' }"
                 field="gold" title="Expired">
                </kendo-grid-column>
                <kendo-grid-column [headerStyle]="{ 'background-color': '#F2F4F7', 'padding':'20px 10px', 'font-weight' : 'bold' }"
                field="silver" title="In 30 days">
                </kendo-grid-column>
                <kendo-grid-column [headerStyle]="{ 'background-color': '#F2F4F7', 'padding':'20px 10px', 'font-weight' : 'bold' }"
                field="bronze" title="In 31-60 days">
                </kendo-grid-column>
                <kendo-grid-column [headerStyle]="{ 'background-color': '#F2F4F7', 'padding':'20px 10px', 'font-weight' : 'bold' }"
                 field="total" title="In 61-90 days">
                </kendo-grid-column>
              </kendo-grid>    
        </mat-card>
    </mat-grid-tile>
</mat-grid-list> -->


