.mainhead
{
    font-size: 20px;
    font-weight:600;
    color: black;
    text-align: center;
}
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }