<div class="grid-layout-container">
    <kendo-gridlayout
      [gap]="{ rows: 6, cols: 10 }"
      [rows]="[
        { height: 20 },
        { height: 100 },
        { height: 100 },
        { height: 20 },
        { height: 660 }
      ]"
      [cols]="[{ width: 270 }, { width: 580 }]"
    >
      <kendo-gridlayout-item [row]="1" [col]="1" [colSpan]="2">
        <div class="k-text-inverse k-text-uppercase k-font-weight-bold ">
          Trending articles
        </div>
      </kendo-gridlayout-item>
      <kendo-gridlayout-item [row]="2" [col]="1">
       retret
      </kendo-gridlayout-item>
      <kendo-gridlayout-item [row]="2" [col]="2">
        retert
      </kendo-gridlayout-item>

    </kendo-gridlayout>
  </div>