<h2 class="mainhead">Tab</h2>
<h4>Tab group with aligned labels</h4>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>
  <h4>Tab group animations</h4>
  <h3>No animation</h3>

  <mat-tab-group animationDuration="0ms">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>
  
  <h3>Very slow animation</h3>
  <mat-tab-group animationDuration="2000ms">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>
  <h4>Tab group with asynchronously loading tab contents</h4>

  <ng-container *ngIf="(asyncTabs | async) === null">
    Loading tabs...
  </ng-container>
  
  <mat-tab-group>
    <mat-tab *ngFor="let tab of asyncTabs | async">
      <ng-template mat-tab-label>{{tab.label}}</ng-template>
      {{tab.content}}
    </mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>
  <h4>Using tabs with a custom label template</h4>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        First
      </ng-template>
      Content 1
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Second
      </ng-template>
      Content 2
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Third
      </ng-template>
  
      Content 3
    </mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>
  <h4>Tab group with dynamic height based on tab contents</h4>
  <mat-tab-group dynamicHeight>
    <mat-tab label="Short tab">
      <div class="example-small-box mat-elevation-z4">
        Small content
      </div>
    </mat-tab>
    <mat-tab label="Long tab">
      <div class="example-large-box mat-elevation-z4">
        Large content
      </div>
    </mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>
  <h4>Tab group with dynamically changing tabs</h4>
  <mat-form-field>
    <mat-label>Selected tab index</mat-label>
    <input matInput type="number" [formControl]="selected">
  </mat-form-field>
  
  <div>
    <button mat-raised-button
            class="example-add-tab-button"
            (click)="addTab(selectAfterAdding.checked)">
      Add new tab
    </button>
    <mat-checkbox #selectAfterAdding> Select tab after adding </mat-checkbox>
  </div>
  
  <mat-tab-group [selectedIndex]="selected.value"
                 (selectedIndexChange)="selected.setValue($event)">
    <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
      Contents for {{tab}} tab
  
      <button mat-raised-button
              class="example-delete-tab-button"
              [disabled]="tabs.length === 1"
              (click)="removeTab(index)">
        Delete Tab
      </button>
    </mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>
  <h4>Tab group with the headers on the bottom</h4>
  <mat-tab-group headerPosition="below">
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>
  <h4>Tab group with ink bar fit to content</h4>
  <mat-tab-group fitInkBarToContent>
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
    <mat-tab label="Fourth" disabled>Content 4</mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>
  <h4>Tab group with inverted tabs</h4>
  <mat-tab-group headerPosition="below">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>
  <h4>Tab group where the tab content is loaded lazily (when activated)</h4>
  <mat-tab-group>
    <mat-tab label="First">
      <ng-template matTabContent>
        Content 1 - Loaded: {{getTimeLoaded(1) | date:'medium'}}
      </ng-template>
    </mat-tab>
    <mat-tab label="Second">
      <ng-template matTabContent>
        Content 2 - Loaded: {{getTimeLoaded(2) | date:'medium'}}
      </ng-template>
    </mat-tab>
    <mat-tab label="Third">
      <ng-template matTabContent>
        Content 3 - Loaded: {{getTimeLoaded(3) | date:'medium'}}
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>
  <h4>Tab group with paginated tabs</h4>
  <mat-tab-group>
    <mat-tab [label]="tab" *ngFor="let tab of lotsOfTabs">Content</mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>
  <h4>Tab group that keeps its content inside the DOM when it's off-screen.</h4>
  <p>Start the video in the first tab and navigate to the second one to see how it keeps playing.</p>

<mat-tab-group preserveContent>
  <mat-tab label="First">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/B-lipaiZII8"
      style="border: 0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </mat-tab>
  <mat-tab label="Second">Note how the video from the previous tab is still playing.</mat-tab>
</mat-tab-group>
<br>
<br>
<br>
<h4>Tab group with stretched labels</h4>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>
  <h4>Customizing the theme options on the tab group</h4>
  <div>
    <mat-button-toggle-group #colorToggle="matButtonToggleGroup"
                             value="primary"
                             aria-label="Change color">
      <mat-button-toggle value="primary">Primary</mat-button-toggle>
      <mat-button-toggle value="accent">Accent</mat-button-toggle>
      <mat-button-toggle value="warn">Warn</mat-button-toggle>
    </mat-button-toggle-group>
    <span class="example-button-toggle-label">Color</span>
  </div>
  
  <div>
    <mat-button-toggle-group #backgroundColorToggle="matButtonToggleGroup"
                             value="primary"
                             aria-label="Change color">
      <mat-button-toggle value="primary">Primary</mat-button-toggle>
      <mat-button-toggle value="accent">Accent</mat-button-toggle>
      <mat-button-toggle value="warn">Warn</mat-button-toggle>
    </mat-button-toggle-group>
    <span class="example-button-toggle-label">Background Color</span>
  </div>
  
  <mat-tab-group [color]="colorToggle.value" [backgroundColor]="backgroundColorToggle.value">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>
  <h4>Basic use of the tab nav bar</h4>
  <nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let link of links"
       (click)="activeLink = link"
       [active]="activeLink == link"> {{link}} </a>
    <a mat-tab-link disabled>Disabled Link</a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  
  <button mat-raised-button class="example-action-button" (click)="toggleBackground()">
    Toggle background
  </button>
  <button mat-raised-button class="example-action-button" (click)="addLink()">
    Add link
  </button>