<div class="profile-demo card-container">
    <div class="k-card custom-card">
      <div class="card-row">
          <div class="component-container">
            <kendo-label text="Name">
              <kendo-textbox placeholder="John Smith"></kendo-textbox>
            </kendo-label>
          </div>
         
       
      </div>
    </div>
  </div>


  <h4>TextArea</h4>
  <div class="profile-demo card-container">
    <div class="k-card custom-card">
      <div class="card-row">
       
        <div class="card-column">
          
          <div class="component-container">
            <kendo-label text="About me">
              <kendo-textarea
                placeholder="Tell us a little bit about yourself..."
                [rows]="3"
                resizable="vertical"
              ></kendo-textarea>
            </kendo-label>
          </div>
          
        </div>
      </div>
    </div>
  </div>