<h2 class="mainhead">Column Filter</h2>
<p>Column Athlete has a <span class="hlt">Text Filter</span>.</p>
<p>Column Age has a <span class="hlt">Number Filter</span> .</p>
<p>Column Date has a <span class="hlt">Date Filter</span> .</p>
<p>Column Country has a <span class="hlt">Set Filter</span> .</p>
<p>Column Sport has a <span class="hlt"> Multi Filter (consisting of a Text Filter and a Set Filter)</span>.</p>


<br>
<br>
<br>
<!-- <ag-grid-angular
    style="width: 100%; height: 100%;"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [class]="themeClass"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular> -->

  <ag-grid-angular class="ag-theme-quartz"
style="height: 500px;" 
[rowData]="rowData"
[columnDefs]="columnDefs"
[defaultColDef]="defaultColDef"
(gridReady)="onGridReady($event)"
>
</ag-grid-angular>