
.dashboard {
    background-color: #ffffff;
    min-height: 100vh !important;
    font-family: 'PT Sans', sans-serif; 
}

h1, h2, h3, h4, h5, h6, p, span, a, i{
  font-size: inherit;
  font-weight: inherit;
}
::ng-deep .k-button {
  font-size: inherit;
  font-weight: inherit;
}

::ng-deep .k-input-inner {
  font-size: inherit;
  font-weight: inherit;
}

::ng-deep .k-grid-toolbar{
  font-size: inherit;
  font-weight: inherit;
}
/* -md */
::ng-deep .k-table{
  font-size: inherit;
  font-weight: inherit;
}

  .mat-grid-tile
  {
    display: block !important;
  }
  .mat-sidenav-container .mat-sidenav {
    background-color: #ffffff!important;
    padding: 10px !important;
    min-width: 90px !important;
    justify-content: center;
    margin: 0px auto !important;
  }

  .mat-mdc-list-base {
    text-align: center;
  }

  .mat-mdc-list-base.mat-mdc-list-base .mdc-list-item--activated .mdc-list-item__primary-text {
    padding: 10px auto !important;
}

  .nav-icons{
    margin: 0px auto !important;
    width: 30px;
    height: 30px;
  }

.header-bar{
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.search-box {
  background-color: #EEF2F6;
  padding: 10px 10px 25px;
  border-radius: 10px;
}

.kendo-grid-table-outer{
  padding: 40px 20px 20px;
  border: 2px solid #D6D6D6;
  border-radius: 10px;
  margin: 8px;
  position: relative;
  font-size: inherit;
  font-weight: inherit;
}

.filter-tab-outer-table{
  position: absolute;
  top: -18px;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Move back by half of own width */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 1px 1px #d1d1d1be;
}

.filter-tab-btn{
  background-color: white; 
  color: #444444;
  border: 1px solid #D6D6D6;
  border-radius: 0px;
  font-family: Roboto;
  padding: 8px;
}

.filter-tab-btn-number{
  background-color: #EEF2F6;
  color: #444444;
  border-radius: 5px;
  padding: 1px;
  margin: 0px 5px;
}

.filter-tab-btn-active{
  background-color: #000080; 
  color: white;
  border: 1px solid #000080;
  border-radius: 0px;
  font-family: Roboto;
  padding: 8px;
}

.filter-tab-btn-start{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.filter-tab-btn-last{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.filter-tab-outer-dropdown{
  background-color: white; 
  color: #444444;
  border: 1px solid #D6D6D6;
  border-radius: 0px;
  font-family: Roboto;
  padding: 8.8px;
  outline: none;
  /* border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; */
  width: 120px;
}



/* custom dropdown style*/
::ng-deep .custom-dropdown-outline .k-input-inner{
  width: 35px;
  font-size: inherit;
}

.custom-dropdown-outline{
  border: 1px solid #9AA4B2;
  padding: 1px;
}

.custom-dropdown-outline-red{
  border: 1px solid #ff0000;
  padding: 1px;
}

.custom-dropdown-outline:hover{
  background-color: inherit;
  color: inherit;
}

.custom-dropdown-outline:focus{
  box-shadow: none;
}

::ng-deep .custom-dropdown-outline.k-disabled {
  opacity: 1;
  filter: grayscale(0);
  background: #F2F2F2 !important;
}

::ng-deep .custom-dropdown-outline.k-readonly {
  border: none !important;
  padding: 0px;
}


::ng-deep .k-popup {
  margin-top: 3px;
}

::ng-deep .k-list-container {
  border: 1px solid #CDD5DF;
  border-radius: 6px;
}

::ng-deep .k-list {
  border-radius: 6px;
}

::ng-deep .k-list-item {
  border-bottom: 1px solid #CDD5DF;
}

::ng-deep .k-list-item:hover {
  background:  #f0f0f0;
}

::ng-deep .k-list-item.k-focus{
  box-shadow: none;
}

::ng-deep .k-list-item.k-focus.k-selected{
  background: #E1EEF8;
  color: #525252;
}


/* ============================================================================================ */

::ng-deep .k-grid{
  font-size: inherit;
}