<link rel="stylesheet" href="https://unpkg.com/@progress/kendo-font-icons/dist/index.css"/>
<h2 class="mainhead">Tooltip</h2>

<div class="container">
  <div>
    <div kendoTooltip style="text-align: center; padding-top: 10px;" position="bottom">
      <button
      kendoButton
      title="Delete"
      class="btn-primary btn-outline"
      fillMode="outline"
      [svgIcon]="deleteSVG"
      size="large"
      ></button>
    </div>
  </div>
  <div class="my-5">
    <div kendoTooltip style="text-align: center; padding-top: 10px;" position="top">
      <kendo-floatinglabel [text]="'code'" title="Code" class="custom-input-float">
        <kendo-textbox 
          [style.width.px]="180"
          size="normal"
          fillMode="outline"
          class="custom-input-outline"
        ></kendo-textbox>
      </kendo-floatinglabel>
      
      
      
    </div>
  </div>
</div>
<!-- <div class="example-wrapper">  [closable]="true" showOn="click"
    <p class="instructions">
      Hover over the yellow dots or click the 'Summary' button.
    </p>
    <div kendoTooltip filter="span" id="agglomerations">
      <span href="#" title="Canton - 26,300,000" id="canton"></span>
      <span href="#" title="Jakarta - 25,800,000" id="jakarta"></span>
      <span href="#" title="Mexico City - 23,500,000" id="mexico"></span>
      <span href="#" title="Delhi - 23,500,000" id="delhi"></span>
      <span href="#" title="Karachi - 22,100,000" id="karachi"></span>
      <span href="#" title="New York - 21,500,000" id="newyork"></span>
      <span href="#" title="Sao Paulo - 21,300,000" id="saopaolo"></span>
      <span href="#" title="Mumbay/Bombay - 21,100,000" id="bombay"></span>
      <span href="#" title="Los Angeles - 17,100,000" id="losangeles"></span>
      <span href="#" title="Osaka - 16,800,000" id="osaka"></span>
      <span href="#" title="Moscow - 16,200,000" id="moscow"></span>
    </div>

    <button
      kendoPopoverAnchor
      #anchor="kendoPopoverAnchor"
      [popover]="myPopover"
      showOn="click"
      class="summary-btn"
      kendoButton
      themeColor="primary"
    >
      Summary
    </button>

    <kendo-popover #myPopover [width]="250" [height]="210" position="top">
      <ng-template kendoPopoverBodyTemplate>
        <em>Top 3 biggest agglomerations:</em>
        <hr />
        <table>
          <tr>
            <th>Rank</th>
            <th>City</th>
            <th>Population</th>
          </tr>
          <tr>
            <td>1.</td>
            <td>Canton</td>
            <td>26,300,000</td>
          </tr>
          <tr>
            <td>2.</td>
            <td>Jakarta</td>
            <td>25,800,000</td>
          </tr>
          <tr>
            <td>3.</td>
            <td>Mexico City</td>
            <td>23,500,000</td>
          </tr>
        </table>
        <div class="actions">
          <button (click)="anchor.hide()" kendoButton themeColor="primary">
            Close
          </button>
        </div>
      </ng-template>
    </kendo-popover>
  </div> -->