.mainhead
{
    font-size: 20px;
    font-weight:600;
    color: black;
    text-align: center;
}

/* tooltip custom style */
::ng-deep .k-tooltip  {
  background-color: #737373;
  border-radius: 8px;
  padding: 12px;
}

::ng-deep .k-tooltip .k-callout {
  color: #737373;
}

/* tooltip custom style end*/

/* ========================================================================================================================================= */

/* Outline primary button */
.btn-outline{
  color: #000080;
  background-color: #ffffff;
  border-color: #000080;
  box-shadow: none;
}

.btn-outline:hover, .btn-outline-hover{
  color: #4A3C9E;
  border-color: #4A3C9E;
}

.btn-outline:focus, .btn-outline-focus{
  color: #000080;
  border-color: #0185FF;
}

.btn-outline:active, .btn-outline-active{
  color: #4A3C9E;
  border-color: #4A3C9E;
}

.btn-outline:disabled{
  color: #4A3C9E;
  opacity: 20%;
}

/* outline primary button style end */

.label-icon {
  position: relative;
}

.label-icon kendo-icon {
  position: absolute;
  left: -20px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
}


/* ========================================================================================================== */

::ng-deep .custom-input-float.k-floating-label-container {
  padding-top: 0px;
}


::ng-deep .custom-input-float.k-floating-label-container.k-empty > .k-label {
  top: 5px;
  left: 5px;
  transform: scale(1);
  font-size: inherit;
}

::ng-deep .custom-input-float.k-floating-label-container > .k-label {
  top: -10px;
  left: 8px;
  transform: scale(1);
  background-color: white;
  border-radius: 5px;
  padding: 0px 8px 0px 5px;
  font-size: 11px;
}

::ng-deep .custom-input-float.k-floating-label-container:focus-within > .k-label {
    top: -10px;
    left: 8px;
    transform: scale(1);
    background-color: white;
    border-radius: 5px;
    padding: 0px 8px 0px 5px;
    font-size: 11px;
}

/* ========================================================================================================== */

#agglomerations {
    position: relative;
    width: 692px;
    height: 480px;
    margin: 0 auto;
    background: url("https://www.telerik.com/kendo-angular-ui-develop/components/tooltips/assets/world-map.jpg")
      no-repeat 0 0;
  }

  #agglomerations > span {
    cursor: pointer;
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff600;
    border-radius: 30px;
    border: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s;
    z-index: 10;
  }

  #agglomerations > span:hover {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.5);
  }

  .instructions {
    text-align: center;
    font-size: 16px;
  }

  #canton {
    top: 226px;
    left: 501px;
  }
  #jakarta {
    top: 266px;
    left: 494px;
  }
  #mexico {
    top: 227px;
    left: 182px;
  }
  #delhi {
    top: 214px;
    left: 448px;
  }
  #karachi {
    top: 222px;
    left: 431px;
  }
  #newyork {
    top: 188px;
    left: 214px;
  }
  #saopaolo {
    top: 304px;
    left: 248px;
  }
  #bombay {
    top: 233px;
    left: 438px;
  }
  #losangeles {
    top: 202px;
    left: 148px;
  }
  #osaka {
    top: 201px;
    left: 535px;
  }
  #moscow {
    top: 153px;
    left: 402px;
  }
  .summary-btn {
    left: calc(50% - 40px);
    top: -63px;
  }
  table {
    width: 100%;
  }
  th {
    color: #528aae;
  }
  .actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }