<h2 class="mainhead">Radio Button</h2>

<div>

  <h4>Primary Custom Radio button</h4>
  <div>
    <input kendoRadioButton type="radio" id="r1" name="rg1" class="radio-blue" checked />
    <label class="k-radio-label" for="r1">Selected</label><br />
    <input kendoRadioButton type="radio" id="r2" name="rg1" class="radio-blue" />
    <label class="k-radio-label" for="r2">Unselected</label><br />
</div>
<hr class="my-5">
<h4>Primary Custom Radio button Disable</h4>
<div>
    <input kendoRadioButton type="radio" id="ra1" name="rg2" class="radio-blue" checked disabled/>
    <label class="k-radio-label" for="ra1">Disable Selected</label><br>
    <input kendoRadioButton type="radio" id="ra2" name="rg2" class="radio-blue" disabled/>
    <label class="k-radio-label" for="ra2">Disable Unselected</label>
</div>

</div>

<!-- <div class="section">
    <h5>Association with native HTML label</h5>
    <div class="wrap">
      <label class="k-radio-label" for="foo">Foo</label>
      <input type="radio" id="foo" kendoRadioButton />
    </div>
  </div>

  <div class="section">
    <h5>Association with the Label component</h5>
    <div class="wrap">
      <kendo-label class="k-radio-label" [for]="bar" text="Bar"></kendo-label>
      <input type="radio" #bar kendoRadioButton />
    </div>
  </div> -->