.content
{
    display: flex;
    margin: 100px 20px 20px 20px;
    padding: 0 16px;
    max-width: 100% !important;
    align-items: center;
}
mat-toolbar
{
    height:60px !important;
}


@media screen and (width > 800px) {
    .custom-toolbar{
        background-color: #000080;
        display: flex;
    }

    .mobile-toolbar{
        display: none;
    }
}

@media screen and (width < 800px) {
    .custom-toolbar{
        background-color: #000080;
        display: none;
    }

    .mobile-toolbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000080;
    }
}