.content
{
    display: flex;
    margin: 100px 20px 20px 20px;
    padding: 0 16px;
    max-width: 100% !important;
    align-items: center;
}
mat-toolbar
{
    height:60px !important;
}


@media screen and (width > 800px) {
    .custom-toolbar{
        background-color: #000080;
        display: flex;
    }

    .mobile-toolbar{
        display: none;
    }
}

@media screen and (width < 800px) {
    .custom-toolbar{
        background-color: #000080;
        display: none;
    }

    .mobile-toolbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000080;
    }
    .top-right-div
    {
        margin-right: 90px;
    }
}
.setnone
{
    /* display: none; */
    /* visibility: hidden; */
    position: absolute;
    z-index: 12;
    top: 0;
    left: 0;
}
.default
{
    /* visibility: visible; */
    /* display: block; */
    position: relative;
    
}
.bgsvg {
    width: 28px;
    height: 28px;
    color: #ffffff;
    padding: 4px;
}
.custombar
{
    color: #ffffff;
}
.top-right-div {
    position: absolute; /* Position the element relative to its nearest positioned ancestor */
    top: 0; /* Align the div at the top */
    right: 0; /* Align the div to the right */
    margin: 10px; /* Optional: Add some margin for spacing */
    z-index: 1000; /* Optional: Ensure the div stays on top of other elements */
  }