
<!-- <div class="main">



<div id="container">
    <div id="left"><app-kendoheader ></app-kendoheader> </div>
    <div id="right">
      <h1>Kendo Controls</h1>
      <router-outlet></router-outlet></div>
  </div>



</div> -->


<mat-sidenav-container>
  <mat-sidenav mode="side" opened #sidenav>
    <mat-nav-list appNavListKeyManager>
    
      <a *ngFor="let item of navItems; index as i"
        mat-list-item
        appListItemFocusable
        [routerLink]="[item.route]"
        routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }"
        #rla="routerLinkActive"
        [activated]="rla.isActive" (click)="handleClick(i)"
      >
        <span matListItemTitle>{{ item.title }}</span>
        <i *ngIf="item.icon" class="bi bi-check-circle-fill ms-2"></i>
      </a>
      
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <h1>Kendo Controls</h1> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



