.mainhead
{
    font-size: 20px;
    font-weight:600;
    color: black;
    text-align: center;
}
.wrapper {
    display: flex;
    justify-content: center;
  }

  .content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 120px;
    height: 120px;
  }
  h2 {
    font-size: 4em;
    font-weight: lighter;
  }
  h2 > span {
    padding-left: 5px;
    font-size: 0.3em;
    vertical-align: top;
  }

  /* ================================================================================================================================= */

/* Primary Tab style */
::ng-deep .tab-primary .k-tabstrip-items{
  border: 1px solid #E2E2E2;
}

::ng-deep .tab-primary .k-tabstrip-items-wrapper .k-item {
  color: #444444;
  border-right: 1px solid #E2E2E2;
}

::ng-deep .tab-primary .k-tabstrip-items-wrapper .k-item:hover {
  color: #000080;
  background-color: #e1e1e1;
}

::ng-deep .tab-primary .k-tabstrip-items-wrapper .k-item.k-active, .k-tabstrip-items-wrapper .k-item.k-selected {
    border-color: rgba(0, 0, 0, 0.08);
    color: #ffffff;
    font-weight: 500;
    background-color: #000080;
}

::ng-deep .tab-primary.k-tabstrip-top > .k-tabstrip-items-wrapper .k-item {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-width: 0;
}

/* Primary Tab end style */

/* ================================================================================================================================= */

/* Primary Tab outline style */

::ng-deep .tab-primary-outline .k-tabstrip-items{
  border: none;
  border-bottom: 1px solid #E2E2E2;
}

::ng-deep .tab-primary-outline .k-tabstrip-items .k-item{
  border: none;
}

::ng-deep .tab-primary-outline .k-tabstrip-items-wrapper .k-item {
  color: #444444;
}

::ng-deep .tab-primary-outline .k-tabstrip-items-wrapper .k-item:hover {
  color: #000080;
  background-color: #e1e1e1;
}

::ng-deep .tab-primary-outline .k-tabstrip-items-wrapper .k-item.k-active, .k-tabstrip-items-wrapper .k-item.k-selected {
    color: black;
    font-weight: 500;
    border-bottom: 2px solid #000080 !important;
    outline: none;
    box-shadow: none;
}

::ng-deep.tab-primary-outline .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-width: 0;
}

/* Primary Tab outline end style */