<link rel="stylesheet" href="https://unpkg.com/@progress/kendo-font-icons/dist/index.css"/>
<h2 class="mainhead">Tab</h2>
<div class="wrapper my-2">
  <kendo-tabstrip (tabSelect)="onTabSelect($event)" class="tab-primary">
    <kendo-tabstrip-tab title="Option A" [selected]="true">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Option B">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Option C">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Option D">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
</div>
<hr class="my-2">
<div class="wrapper my-2">
  <kendo-tabstrip (tabSelect)="onTabSelect($event)" class="tab-primary-outline">
    <kendo-tabstrip-tab title="Option A" [selected]="true">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Option B">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Option C">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Option D">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
</div>
<hr class="my-2">
<div class="wrapper my-2">
  <kendo-tabstrip (tabSelect)="onTabSelect($event)" class="tab-primary">
    <kendo-tabstrip-tab title="All" [selected]="true">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Draft">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Pending for Approval">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Vendor not Acknowledged">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="PO not Sent">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Cash PO1">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab>
      <ng-template kendoTabTitle>
        <span class="k-icon k-font-icon k-i-more-horizontal"></span>
      </ng-template>
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>    
  </kendo-tabstrip>
</div>

<div class="wrapper my-2">
  <kendo-tabstrip (tabSelect)="onTabSelect($event)" class="tab-primary-vertical">
    <kendo-tabstrip-tab title="Option A" [selected]="true">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Option B">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Option C">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Option D">
      <ng-template kendoTabContent>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
</div>

<hr class="my-2">

<div class="wrapper my-2">
  <kendo-tabstrip (tabSelect)="onTabSelect($event)" class="tab-primary">
    <kendo-tabstrip-tab [selected]="true">
      <ng-template kendoTabTitle>
        Option A
        <kendo-dropdownbutton [data]="data"  fillMode="clear" size="small" [svgIcon]="downSVG" class="ms-3">
        </kendo-dropdownbutton>
      </ng-template>
      <ng-template kendoTabContent>
        <!-- Tab content for Option A -->
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab>
      <ng-template kendoTabTitle>
        Option B
        <kendo-dropdownbutton [data]="data"  fillMode="clear" size="small" [svgIcon]="downSVG" class="ms-3">
        </kendo-dropdownbutton>
      </ng-template>
      <ng-template kendoTabContent>
        <!-- Tab content for Option B -->
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab>
      <ng-template kendoTabTitle>
        Option C
        <kendo-dropdownbutton [data]="data"  fillMode="clear" size="small" [svgIcon]="downSVG" class="ms-3">
        </kendo-dropdownbutton>
      </ng-template>
      <ng-template kendoTabContent>
        <!-- Tab content for Option C -->
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab>
      <ng-template kendoTabTitle>
        Option D
        <kendo-dropdownbutton [data]="data"  fillMode="clear" size="small" [svgIcon]="downSVG" class="ms-3">
        </kendo-dropdownbutton>
      </ng-template>
      <ng-template kendoTabContent>
        <!-- Tab content for Option D -->
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
  
</div>



<!-- <div class="wrapper"> <span class="k-icon k-font-icon k-i-x "></span>
    <kendo-tabstrip (tabSelect)="onTabSelect($event)">
      <kendo-tabstrip-tab title="Paris" [selected]="true">
        <ng-template kendoTabContent>
          <div class="content">
            <img
              src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/assets/tabstrip/rainy.png"
            />
            <h2>17<span>ºC</span></h2>
            <span>Rainy weather in Paris.</span>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab title="New York City">
        <ng-template kendoTabContent>
          <div class="content">
            <img
              src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/assets/tabstrip/cloudy.png"
            />
            <h2>19<span>ºC</span></h2>
            <span>Cloudy weather in New York City.</span>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab title="Tallinn">
        <ng-template kendoTabContent>
          <div class="content">
            <img
              src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/assets/tabstrip/sunny.png"
            />
            <h2>23<span>ºC</span></h2>
            <span>Sunny weather in Tallinn.</span>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab title="London">
        <ng-template kendoTabContent>
          <div class="content">
            <img
              src="https://www.telerik.com/kendo-angular-ui-develop/components/layout/assets/tabstrip/rainy.png"
            />
            <h2>16<span>ºC</span></h2>
            <span>Rainy weather in London.</span>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </div> -->