<div class="home">
    <!-- <h2>Comparison Between Kendo UI and Angular material UI</h2> -->

    <!-- Cards with media area -->
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Angular Material vs Kendo UI & AG-Grid
            Duo
            What are the differences?</mat-card-title>
            <br>
            <br>
        <mat-card-subtitle><h4>Introduction</h4></mat-card-subtitle>
        <!-- <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" > -->
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        Angular Material and Kendo UI are two popular frameworks used for building user interfaces in web 
        applications. Both frameworks provide a set of UI components and tools that can enhance the look 
        and feel of web applications. However, there are several key differences between Angular Material and 
        Kendo UI


        <div class="list">
            <h2>List Item Hover Effect</h2>
            <ul>
              <li><span><h3>Design Philosophy</h3> Angular Material follows the Material Design principles, which focus on 
                creating a visually appealing and interactive user interface. On the other hand, Kendo UI offers 
                a more traditional and customizable UI design.</span></li>
              <li><span><h3>Integration with Angular</h3>Angular Material is specifically designed for use with Angular, 
                which means it integrates seamlessly with Angular projects and provides a cohesive 
                development experience. Kendo UI, on the other hand, can be used with different JavaScript 
                frameworks, including Angular, but may require additional configuration and setup.</span></li>
              <li><span><h3>Component Availability</h3>: Angular Material provides a comprehensive set of UI components 
                out-of-the-box, including buttons, cards, forms, and navigation components. Kendo UI offers 
                a wider range of UI components, including data grids, charts, and visualization tools, which 
                makes it suitable for more complex and data-intensive applications</span></li>
              <li><span><h3>Customization and Theming</h3>Angular Material provides a built-in theming system that 
                allows developers to easily customize the appearance of UI components to match their 
                application's brand and style. Kendo UI also offers theming capabilities but requires more 
                effort and expertise to achieve a fully customized design.</span></li>
              <li><span><h3>License and Pricing</h3>Angular Material is an open-source framework licensed under the MIT 
                license, which means it is free to use and modify. Kendo UI, on the other hand, is a 
                commercial framework that requires a license for commercial use. It offers both a free trial 
                version and commercial licenses with different pricing options.</span></li>
              <li><span><h3>Community and Support</h3>Angular Material benefits from a large and active community of 
                developers due to its close association with the Angular ecosystem. It has extensive 
                documentation, online resources, and community support. Kendo UI also has a dedicated 
                community and provides documentation and support, but may have a smaller community 
                compared to Angular Material</span></li>
                <li><span><h3>Performance Powerhouse</h3>While both Kendo UI Grid and Angular Material offer strong 
                    performance, ag-Grid truly excels when it comes to handling massive datasets or complex 
                    filtering and sorting needs. When combined with Angular Material's sleek design elements, 
                    this duo can create a highly performant and visually appealing data grid experience.
                    </span></li>
            </ul>
          </div>
          <br>
          <br>
          <br>
          In summary, Angular Material and Kendo UI differ in their design philosophy, integration with Angular, 
component availability, customization and theming capabilities, licensing and pricing, as well as 
community and support
    </mat-card-content>
  </mat-card>
  

  

  

  

</div>