<div class="home">
    <!-- <h2>Comparison Between Kendo UI and Angular material UI</h2> -->

    <!-- Cards with media area -->
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Angular Material vs Kendo UI & AG-Grid
            Duo
            What are the differences?</mat-card-title>
        <mat-card-subtitle>Introduction</mat-card-subtitle>
        <!-- <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" > -->
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        Angular Material and Kendo UI are two popular frameworks used for building user interfaces in web 
        applications. Both frameworks provide a set of UI components and tools that can enhance the look 
        and feel of web applications. However, there are several key differences between Angular Material and 
        Kendo UI


        <div class="list">
            <h2>List Item Hover Effect</h2>
            <ul>
              <li><span><h3>Design Philosophy</h3> Angular Material follows the Material Design principles, which focus on 
                creating a visually appealing and interactive user interface. On the other hand, Kendo UI offers 
                a more traditional and customizable UI design.</span></li>
              <li><span>Consectetur adipisicing elit</span></li>
              <li><span>Ut labore et dolore magna aliqua</span></li>
              <li><span>Ut enim ad minim veniam</span></li>
              <li><span>Quis nostrud exercitation ullamco</span></li>
              <li><span>Laboris nisi ut aliquip ex</span></li>
            </ul>
          </div>
    </mat-card-content>
  </mat-card>
  

  

  

  

</div>